:root {
  --section-padding: var(--space-3xl);
  --container-padding: var(--space-lg);
  --content-spacing: var(--space-xl);
  --container-max: 1000px;
}

.container {
  max-width: var(--container-max);
  margin: 0 auto;
  padding: var(--container-padding);
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--gap-xl);
  margin-top: var(--space-2xl);
}

@media only screen and (max-width: var(--breakpoint-tablet)) {
  .header {
    display: block;
  }
}
