.cta {
  padding: 5rem 2rem;
  background: var(--surface-2);
  color: var(--headline);
  text-shadow: 0 0 1px black;
  text-align: center;
}

.cta h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.cta p {
  max-width: 600px;
  margin: 0 auto 2rem;
  font-size: 1.2rem;
}
