.fallbackContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-secondary);
  border-radius: 4px;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.fallbackIcon {
  width: 75%;
  height: 75%;
  color: var(--color-text-secondary);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
